<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultExtensions" value=".cs"></add>
		<add key="IgnoreComments" value="true"></add>
		
		<!--If you set a value here, the Search Folder will be pre-populated at start up.-->
		<add key="DefaultSearchFolder" value=""></add>
	</appSettings>
</configuration>